<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">   
    <Found Context="routeData">
        @*for a given path if a match is found this found propery is used and router view renders that matching component*@
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState> @*this componet pass authentication state down to all components*@

@*this file uses the built-in router component to setup client side routing, it intercepts browser naviagation and renders the page that mathces the requested address*@