@page "/NewPages/bindProp"
<h2 class="text-success">Individual Product</h2>
<div class="row">
	<div class="col-6 border p-3">
	<h3 class="text-primary">Product playgounrd</h3><hr />
	<div>
		Active:
		<input type="checkbox" @bind-value="products.IsActive" checked="@(products.IsActive?"checked":null)" />
		<br />
	</div>
	<div>
	Price:
	<input type="number" @bind-value="@products.Price" @bind-value:event="oninput" />
	<br />
		</div>
	<div>
		ProductProperties:
		<select @bind="selectedProp">
			@foreach (var prop in products.ProductProperties)
			{
				<option value="@prop.Key">@prop.Key</option>
			}
		</select>
	</div>
	@*Price:<input type="number" @bind="@products.Price" @bind:event="oninput" />*@

</div>
<div class="col-6 border p-3">

	<h3 class="text-primary">Products</h3><hr />
	Name: @products.Name
	<br />
	Active: @products.IsActive
	<br />
	Price: @products.Price
	<br />
	This Prodicut is : @(products.IsActive ? "Active" : "InActive")
	<br />
	property selected : @selectedProp
	<br />
	@if (!String.IsNullOrWhiteSpace(selectedProp))
	{
		<p>Propery Value : @products.ProductProperties.FirstOrDefault(u=>u.Key == selectedProp).Value</p>
	}
</div>
</div>
<br />
<div class="col-12 pt-4">
	<h2>Product Table</h2>
	<table class="table table-striped">
		<tbody>
			@foreach(var prod in productList)
			{
				<tr>
					<td>
						<input type="text" @bind-value="prod.Name" @bind-value:event="oninput"/>
					</td>
					<td>
						<input type="text" @bind-value="prod.Price" @bind-value:event="oninput" />
					</td>
					<td>
						<input type="checkbox" @bind-value="prod.IsActive" checked="@(prod.IsActive?"checked":null)" />
					</td>
				</tr>
			}
		</tbody>
	</table>
	<h2>Product Summary</h2>
	@foreach(var prod in productList)
	{
		<p>@prod.Name [@prod.Price] is @(prod.IsActive?"Active":"InActive")</p>
	}
</div>





@code {

	private string selectedProp = "";
	Products products = new ()
		{
			Id = 1,
			Name = "Laptop",
			IsActive = true,
			Price = 10.99,
			ProductProperties = new List<ProductProp>()
			{
				new ProductProp{ Id =1, Key = "Color", Value="Black" },
				new ProductProp{ Id =2, Key = "Flavor", Value="Rose Jasmine" },
				new ProductProp{ Id =3, Key = "Size", Value="20oz" },
			}

		};
	List<Products> productList = new();
	protected override void OnInitialized()
	{
		productList.Add(new()
			{
				Id = 1,
				Name = "Midnight Blaze",
				Price = 10.99,
				IsActive = false,
				ProductProperties = new()
			{
				new ProductProp { Id = 1, Key = "flavor", Value = "Rose"},
				new ProductProp { Id = 2, Key = "Size", Value = "20oz"},
				new ProductProp { Id = 3, Key = "Color", Value = "Purple"},
			}
			});

		productList.Add(new()
			{
				Id = 2,
				Name = "Blossem Blaze",
				Price = 10.99,
				IsActive = true,
				ProductProperties = new()
			{
				new ProductProp { Id = 1, Key = "flavor", Value = "Rose"},
				new ProductProp { Id = 2, Key = "Size", Value = "20oz"},
				new ProductProp { Id = 3, Key = "Color", Value = "White"},
			}
			});

		}
	}
	